<div>
  <div class="box-auth">
    <div>
      <h4>Quên mật khẩu</h4>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="formData" class="login-form" nz-form>
      <div class="mg-b">
        <nz-form-item>
          <nz-form-control nzErrorTip="Không được để trống!">
            <nz-input-group nzPrefixIcon="mail">
              <input formControlName="email" nz-input placeholder="Email" type="text"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="mg-b text-center">
        <button [nzLoading]="nzLoading" nz-button nzType="primary" type="submit">Gửi yêu cầu</button>
      </div>
      <div>
        <a routerLink="/dang-nhap">
          <i nz-icon nzTheme="outline" nzType="left"></i>
          Quay lại đăng nhập
        </a>
      </div>
    </form>
  </div>
</div>
