<nz-drawer (nzOnClose)="close()" [nzBodyStyle]="{ overflow: 'auto' }" [nzFooter]="footerTpl" [nzMaskClosable]="false"
           [nzTitle]="isAddNew?'Thêm mới':'Thông tin chi tiết'" [nzVisible]="visible" [nzWidth]="'90%'">
  <form (ngSubmit)="submit()" *nzDrawerContent [formGroup]="formData" nz-form nzLayout="vertical">
    <div nz-row>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzRequired>Tên nhà cung cấp</nz-form-label>
          <nz-form-control nzErrorTip="Không được để trống!">
            <input formControlName="name" nz-input nzSize="small"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label>Số điện thoại</nz-form-label>
          <nz-form-control>
            <input formControlName="phoneNumber" nz-input nzSize="small"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label>Email</nz-form-label>
          <nz-form-control>
            <input formControlName="email" nz-input nzSize="small"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Địa chỉ</nz-form-label>
          <nz-form-control>
                <textarea formControlName="address" nz-input
                          type="text"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <ng-template #footerTpl>
    <div style="float: right">
      <button (click)="close()" nz-button>Hủy</button>
      <button (click)="submit()" nz-button nzType="primary">Lưu lại</button>
    </div>
  </ng-template>

</nz-drawer>
