<div *ngIf="menu" class="container">
  <div class="box-breadcrumb">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a routerLink="/">Trang chủ</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ menu.name }}
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div>
    <div class="mg-b" nz-row>
      <div class="mg-b" nz-col nzLg="6" nzMd="10" nzSm="12" nzSpan="6" nzXs="24">
        <nz-form-item>
          <nz-form-label>Sắp xếp theo</nz-form-label>
          <nz-form-control>
            <nz-select (ngModelChange)="filter.orderBy=$event;getData()" [ngModel]="filter.orderBy">
              <nz-option nzLabel="Phù hợp nhất" nzValue="highlight"></nz-option>
              <nz-option nzLabel="Giá cao đến thấp" nzValue="price-desc"></nz-option>
              <nz-option nzLabel="Giá thấp đến cao" nzValue="price-asc"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzLg="6" nzMd="8" nzSm="12" nzSpan="5" nzXs="24">
        <nz-form-item>
          <nz-form-label>Mức giá</nz-form-label>
          <nz-form-control>
            <nz-select (ngModelChange)="filter.price=$event;getData()" [ngModel]="filter.price"
                       nzPlaceHolder="Tất cả">
              <nz-option nzLabel="Tất cả" nzValue="all"></nz-option>
              <nz-option nzLabel="Trên 30 triệu" nzValue="m30"></nz-option>
              <nz-option nzLabel="Từ 20 - 30 triệu" nzValue="f20t30"></nz-option>
              <nz-option nzLabel="Từ 10 - 20 triệu" nzValue="f10t20"></nz-option>
              <nz-option nzLabel="Từ 5 - 10 triệu" nzValue="f5t10"></nz-option>
              <nz-option nzLabel="Dưới 5 triệu" nzValue="l5"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div *ngFor="let product of menu.products" nz-col nzSpan="4-8">
        <app-product-template (afterUpdateWishlist)="getData()" [product]="product"></app-product-template>
      </div>
      <div class="filter-more" nz-col nzSpan="24">
        <button (click)="showMore()" [nzLoading]="nzLoading" nz-button nzType="primary" type="button">Xem
          thêm
        </button>
      </div>
    </div>
  </div>
</div>
