<nz-breadcrumb>
  <nz-breadcrumb-item>
    <i nz-icon nzType="home"></i>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    Danh sách khách hàng
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="mg-t" nz-row>
  <div nz-col nzSpan="10">
    <nz-form-item>
      <nz-form-label>Từ khóa tìm kiếm</nz-form-label>
      <nz-form-control>
        <input (keyup.enter)="getData()" [(ngModel)]="filter.keySearch" nz-input nzSize="small"
               placeholder="Tên khách hàng"
               type="text"/>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col nzSpan="14">
    <nz-form-item>
      <nz-form-control>
        <button (click)="getData()" nz-button nzSize="small" nzType="primary">
          <i nz-icon nzTheme="outline" nzType="search"></i>
          Tìm kiếm
        </button>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div nz-col nzSpan="24">
    <nz-table #tblData [nzShowTotal]="showTotalTpl" [nzData]="datas" [nzPageSize]="100"
              [nzScroll]="{ y:'calc(100vh - 280px)'}">
      <thead>
      <tr>
        <th nzWidth="180px">Tên khách hàng</th>
        <th nzWidth="100px" nzAlign="center">Số điện thoại</th>
        <th>Email</th>
        <th nzWidth="100px">Ngày sinh</th>
        <th nzAlign="center" nzWidth="80px">Giới tính</th>
        <th>Địa chỉ</th>
        <th nzWidth="120px"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of tblData.data">
        <td>{{ data.fullName }}</td>
        <td>{{ data.phoneNumber }}</td>
        <td>{{ data.email }}</td>
        <td nzAlign="center">{{ data.dob | date:'dd-MM-yyyy' }}</td>
        <td nzAlign="center">{{ data.gender }}</td>
        <td>{{ data.address }}</td>
        <td nzAlign="center">
          <button (click)="showDetail(data)" class="mg-r" nz-button nzSize="small">
            Xem chi tiết
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
    <ng-template #showTotalTpl let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} of {{ total | number }} bản ghi
    </ng-template>
  </div>
</div>

<app-customer-detail #frmDetail></app-customer-detail>
<ngx-spinner></ngx-spinner>
